body {
  font-family: "Inter Tight", sans-serif;
  color: #2e2e2e;
}
.header {
  padding: 20px 0;
  box-shadow: 0px 4px 10px 0px #0000000a;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header__nav {
  display: flex;
  gap: 30px;
}
.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2e2e2e;
}
.header_btn {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #d9d9d9;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2e2e2e;
}
@media (max-width: 1080px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 430px) {
  .header__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
}
.home {
  padding: 100px 0;
}
.home__row {
  display: flex;
}
.home__info {
}
.home__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
}
.home__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 50px;
}
.home__btn {
  padding: 10px 50px;
  border-radius: 5px;
  background-color: #d9d9d9;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.home__img {
  max-width: 480px;
  margin: 0px 30px;
}
@media (max-width: 920px) {
  .home__img {
    max-width: 300px;
  }
  .home__title {
    font-size: 35px;
  }
  .home__text {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .home__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
}
.about {
  padding: 100px 0;
  background-color: #f6f6f6;
}
.about__info {
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
}
.about__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 50px;
}
.about__button {
  padding: 10px 50px;
  border-radius: 5px;
  background-color: #d9d9d9;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 59px;
}
.about__img {
  max-width: 1020x;
  margin: 10px 30px;
}
@media (max-width: 920px) {
  .about__img {
    max-width: 700px;
  }
  .about__title {
    font-size: 35px;
  }
  .about__text {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .about__img {
    max-width: 300px;
  }
}
.faq {
  padding: 100px 0;
}
.faq__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.faq__info {
  text-align: center;
}
.faq__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
.faq__subtitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
  text-align: center;
}
.faq__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 66px;
  text-align: center;
}
.faq__input {
  padding: 10px 50px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px #0000000a;
  box-shadow: 0px -4px 4px 0px #0000000a;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.faq__button {
  padding: 10px 50px;
  border-radius: 5px;
  background-color: #d9d9d9;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
@media (max-width: 920px) {
  .faq__subtitle {
    font-size: 35px;
  }
  .faq__text {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .faq__row {
    flex-direction: column;
    gap: 10px;
  }
}
.footer__top {
  padding: 50px 0;
  box-shadow: 0px -4px 10px 0px #0000000a;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 150px;
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2e2e2e;
}
.footer__text {
  padding: 10px 0;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
@media (max-width: 370px) {
  .footer__row {
    flex-direction: column;
    gap: 30px;
  }
}
